
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="background-image"></div>
<div class="content">
    <h2>Veroco</h2>
    <p>Es una cadena de supermercados en constante innovación que le permite satisfacer las necesidades del consumidor (cliente) a través de la excelencia en alimentos y complementos del hogar proporcionando variedad de productos y servicios de alta calidad a precios competitivos. </p>
    <br>
    <p>Para ello, mantendrá un equipo de personas motivadas, involucradas, capacitadas y orientadas en los conceptos de calidad total, con el objetivo de lograr rendimientos que aseguren la permanencia y el crecimiento, en beneficio de empleados, accionistas y comunidad.</p>
    <img src="~/Content/image/Logo.jpg" alt="Mountain View" style="width:300px;height:250px;">
    <img src="C:/Users/Sky/Documents/GitHub/ProyectoFinal/Proyecto_Final/Proyecto_Final/Content/image/Logo.jpg" alt="Mountain View" style="width:300px;height:250px;">
</div>

<script>


</script>
